@import "tailwindcss";

:root {
  --background: #fff2dd;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.font-lato {
  font-family: var(--font-lato);
}
.font-mulish {
  font-family: var(--font-mulish);
}
.font-nunito {
  font-family: var(--font-nunito);
}
.font-poppins {
  font-family: var(--font-poppins);
}
.font-quicksand {
  font-family: var(--font-quicksand);
}